@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:wght@400;500;600;700&display=swap');

$color-heading: #510914;

$size-heading: 36px;

$font-heading: 'Pacifico';

$size-subtitle: 18px;

$gray: #F7F1F0;